@import 'vars';
@import 'anim';

section.header{
	position:relative;
  display: block;
  padding: 0;
	z-index:1000;
	min-height: 360px;
	font-size: 17px;

	.top{
		margin: 4rem auto 1rem auto;
	}
	/**/
	nav#primary-menu{
    background-color: $color1;
    padding: 10px;
    margin: 0 auto;
		width: 100%;
    max-width: 1160px;
    height: 60px;
    overflow: visible;
		position: relative;
		color: #000;
		text-transform: uppercase;

		@media (max-width: 1200px){
	    position: fixed;
			top:0;
	    height: 45px;
			padding:0;
			width: 100%;
	  }

		button#open-menu{
			display: none;
			vertical-align: top;
			border:none;
			box-shadow: none;
			margin-right: 10px;
			width: 45px;
			height: 45px;
			background: transparent;
			color: #000;
			font-size: .8rem;
			font-weight: 700;
			border-right: 1px solid rgba(0,0,0,0.25);

			@media (max-width: 1200px){
				display: inline-block;
			}

			svg{
				width: 100%;
			}
		}

		.menu-title{
			background: #222;
			width: 50%;
			height: 45px;
			text-transform: none;
			line-height: 45px;
			font-size: 1.1rem;
			display: none;

			@media (max-width: 1200px){
		    display: block;
				width: 100%;

				&.active{
					display: block;
				}
		  }

			button#close-menu{
				display: inline-block;
				vertical-align: top;
				border:none;
				box-shadow: none;
				margin-right: 10px;
				width: 55px;
				height: 45px;
				background: #fff;
				color: #000;
				font-size: .8rem;
				font-weight: 700;
			}
		}

		ul.nav-bar{
			list-style-type: none;
			font-size: 0;
	    overflow: visible;

			@media (max-width: 1200px){
				position: fixed;
				width: 50%;
		    height: 100%;
				background: #e9e9e9;
		    overflow: auto;
				left: -50%;
				top:0;
				transition: left .5s;

				&.active{
					left: 0;
				}
		  }

			li{
				display: block;
				float: left;
				zoom: 1;
				padding: 15px;
				position: relative;

				@media (max-width: 1200px){
					float: none;
					font-weight: 700;
					min-height: 60px;
					line-height:60px;
					border-bottom: 1px solid #ccc;
					padding: 0 15px;
			  }

				&.dropdown{
					padding-right: 22px;
					overflow: visible;

					&:after{
						position: absolute;
						content: "";
						top: 20px;
						right: 10px;
						width: 0;
						height: 0;
						border: 3px solid transparent;
						border-color: #000 transparent transparent transparent;
					}

					@media (max-width: 1200px){
						&:after{
							top:30px;
							border: 5px solid transparent;
							border-color: #000 transparent transparent transparent;
						}
					}

					.dropdown-menu{
						display: none;
						margin: 0 0 0 -20px;
						padding: 20px 0 0 0;
						z-index:1000;

						@media (max-width: 1200px){
							display: none;
							width: 100%;
							position: relative;
							padding: 0 0 20px 0;
						}

						&.active{
							display: block;
						}

						li{
							background: #fff;
							display: block;
							color: #000;
							min-width: 190px;
							line-height: 1rem;
							padding: 10px 20px;

							&:first-of-type{
								padding-top: 30px;
							}
							&:last-of-type{
								padding-bottom: 30px;
							}

							@media (max-width: 1200px){
								width: 100%;
								position: relative;
								min-height: 0px;
								height: 40px;
								line-height: 40px;
								padding: 0 0 0 30px;
								background: transparent;
								border: 0;

								&:first-of-type{
									padding-top: 0px;
								}
								&:last-of-type{
									padding-bottom: 0px;
								}
						  }

							a{
								color: #777;
								font-weight: 400;
								text-transform: none;
								white-space:nowrap;
								padding: 0;
								cursor: pointer;

								@media (max-width: 1200px){
									font-size: .75rem;
								}

								&:hover{
									font-weight: 700;
									color: #555;
								}
							}
						}
					}
				}

				a{
					font-size: .8rem;
					letter-spacing: 0.035rem;
					color: #000;
					font-weight: 400;
					display: block;

					@media (max-width: 1200px){
						font-weight: 700;
						font-size: .7rem;
					}

					&:hover{
						opacity:0.65;
					}
				}

				ul{
					display: none;
					position: absolute;
				}
			}
		}
	}

	div:not(#site-name) {
		/*height: 100%;*/

		&.arrow-down{
		  position: absolute;
		  bottom: 110px;
		  left: 50%;
		  margin-left: -10px;
		  width: 21px;
		  height: 29px;
		  background: url('../images/arrow-down.svg') no-repeat center center;
		  display: block;
		  animation: bounce-down 1.2s infinite;
		}
	}


	.opacity{
		background:rgba(255,255,255,0.35);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
	}


	.content{
		position: relative;
		width:100%;
		height:auto;
		margin: 0 auto;
		z-index:2;

    .text{
			position:absolute;
			text-align:center;
			margin:auto;
			color: #000;
			top:0;
			left:0;
			bottom:0;
			right:0;
			width:100%;
			height:100%;
			background: rgba(255,255,255,0.3);
		}

  }
}

#site-name{
	text-align: center;
	text-transform: uppercase;
	position: relative;
	display: block;
	padding: 20px 0 15px 0;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	&.hidden{
		display: none;
	}

	a{
		display: block;
		width: 270px;
		font-weight: normal;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.05em;
		margin: 20px;

		@media (max-width: 1200px){
			margin: 4rem auto;
			width: 320px;
		}
		@media (max-width: 480px){
			margin: 4rem auto;
			width: 260px;
		}

		img{
			width: 100%;
		}


		&:hover{
			color: $highlight-color;
		}
	}

	span{
		display: inline-block;
  	vertical-align: top;
		font-size: 16px;
		color: #000;
		opacity: 0.6;
	}
}

h1{
  text-align: center;
  margin: 50px 0 ;
  font-size: 25px;
  color: $font-color;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  width: 100%;
  position: relative;
  font-weight: 100;
	top:40%;
	transform: translateY(-50%);

  @media (max-width: 480px){
    font-size: 42px;
    line-height: 1.1;
    margin: 36px auto;
    max-width: 300px;
  }

  span{
    font-size: 16px;
    letter-spacing: 2px;
    margin: 10px 0;
    display:block;
    color: white;
		color: rgba(0,0,0,0.5);

    @media (max-width: 480px){
      font-size: 14px;
      margin: 1rem auto;
    }
  }
}
